@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Infosüsteemide arendamine II iseseisev projekt</h2>
    <p>Autorid: Kalle Pilli, Rene Treier</p>
</div>
