@model ReservationProject.Pages.Common.BasePage

<form asp-page="./Index" method="get">
    <input type="hidden" name="Handler" value="Index" />
    <input type="hidden" name="CurrentFilter" value="@Model.CurrentFilter" />
    <div class="form-group">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index" asp-route-handler="Index">Back to full List</a>
        </p>
    </div>
</form>