@page
@model ReservationProject.Soft.Pages.Reservations.ReservationsModel

@{
    Layout = "_Create";
    ViewData["Page"] = "Reservations";
}

<h1>Create</h1>

<partial name="_EditReservation.cshtml"/>